#Header{
  position: absolute;;
  width:100%;
  height:15%;
  display: block;
  text-align:center;
  font-size:15px;
  color:#fffaf3;
  font-weight:bold;
  background-color:#f9c81e;
}
#Body{
  position: absolute;
  top:15.5%;
  left:20%;
  width:60%;
  height:70%;
  text-align:center;
  /*line-height:4000%;*/
  font-size:15px;
  color:#f9c81e;
  font-weight:bold;
  background-color:#ccfaf3;
}
#Footer{
  position: absolute;
  top:85%;
  width:100%;
  height:15%;
  text-align:center;
  /*line-height:80px;*/
  font-size:15px;
  color:#fffaf3;
  font-weight:bold;
  background-color:#f9c81e;
}
