/*搭配tab頁面，TAB頁面的樣式*/

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#tabs {
    clear: left;
    width: 100%;
    margin: 10px 0;
}
ul.tabs {
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
}
ul.tabs li {
    float: left;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
    position: relative;
    margin-bottom: -1px;
    /* 讓 li 往下移來遮住 ul 的部份 border-bottom */
    border: 1px solid #999;
    border-left: none;
    background: #e1e1e1;
}
ul.tabs li a {
    display: block;
    padding: 0 20px;
    color: #000;
    border: 1px solid #fff;
    text-decoration: none;
}
ul.tabs li a:hover {
    background: #ccc;
}
ul.tabs li.active {
    background: #fff;
    border-bottom: 1px solid#fff;
}
ul.tabs li.active a:hover {
    /*background: #fff;*/
    background: purple;
}
div.tab_container {
    clear: left;
    width: 100%;
    border: 1px solid #999;
    border-top: none;
    background: #fff;
}
div.tab_container .tab_content {
    padding: 20px;
}
div.tab_container .tab_content h1 {
    margin: 0 0 20px;
}

/*欄位CSS*/

#first_Saved_Ad {
    width: 300px;
    height: 100px;
    border: 2px solid black;
}
img#vali_Pic {
    cursor: pointer;
}
label.star {
    color: red;
}
